@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Kanit', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
/* 🌞 Light mode */
body {
  background-color: #fdfbf7;
  color: #1f2937;
}

/* 🌙 Dark mode */
.dark body {
  background-color: #0f172a;   /* slate-900 */
  color: #e5e7eb;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  overflow-x: hidden; /* ป้องกันการเลื่อนซ้ายขวาถ้ามีอะไรล้น */
}
/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* image responsive */
img {
  max-width: 100%;
  display: block;
}
 